HTTP_PORT=3243
JWT_SECRET_KEY=ja789w5hja9w345h98aw3jh48aw34j898
MYSQL_ROOT_PASSWORD=jlka7sw47aSD234
DATABASE_TYPE=mariadb
DATABASE_SERVER=localhost
DATABASE_PORT=3322
DATABASE_USERNAME=5NKVBAt7OrzrumQyQVs
DATABASE_PASSWORD=1BBrZbKYRUM7oiMA5oY
DATABASE_SCHEMA=staqapp
TESTING_DEVTOOLS=1